<section class="hero is-fullheight is-dark" >
  <div class="columns is-vcentered">
    <div class="column">

    </div>
    <div class="column">

    </div>
    <div class="column has-text-centered">
      <div id="panel">
        <img src="assets/images/trybiglogo.png" alt="logo">
        <br>
        <form>
          <input type="number" [value]="jobLength1" id="inputJobLength1">
          <button class="button is-primary" (click)="StartJob1()">Start Job</button>
        </form>
        <mat-progress-bar mode="determinate" [value]="progressBarValue1"></mat-progress-bar>
        <br><br>
        <form>
          <input type="number" [value]="jobLength2" id="inputJobLength2">
          <button class="button is-primary" (click)="StartJob2()">Start Job</button>
        </form>
        <mat-progress-bar mode="determinate" [value]="progressBarValue2"></mat-progress-bar>
      </div>
    </div>
    <div class="column">
    </div>
    <div class="column">
      
    </div>
  </div>
</section>

