<section class="hero is-fullheight is-dark" >
  <div class="columns is-vcentered">
    <div class="column">

    </div>
    <div class="column">

    </div>
    <div class="column has-text-centered">
      <div id="panel">
        <img src="assets/images/trybiglogo.png" alt="logo">
        <br>
        <input type="number" [value]="jobLength">
        <button class="button is-primary" (click)="StartJob()">Start Job</button>
      </div>
    </div>
    <div class="column">

    </div>
    <div class="column">
      
    </div>
  </div>
</section>

